// Vuepress theme overrides
// responsive breakpoints, these are actually the theme defaults but we include them here
// so we can reference them in our custom styles
$MQNarrow: 959px !default;
$MQMobile: 1000px !default;
$MQMobileNarrow: 419px !default;
